idx2numpy
imageio
imutils
matplotlib
numpy
bison
ply
opencv-python
h5py
Markdown
Pillow
ply
tensorflow==2.16.1
tensorflow-estimator==2.2.0
twine
protobuf==3.20.*
requests==2.28.2
urllib3==1.26.16
chardet==4.0.0
scikit-learn
scipy
pytesseract
tesseract